
body {
  background-color: #e6e4d9;
}
h1 {
  margin: 5%;
  text-align: center;
  margin-bottom: 7.5%
}
p:hover {
  background-color: lightgreen;
  /* font-weight: bold; */
}
.wImages {
	clear: both;
	padding-top: 10px;
	position: relative;
	width: auto;
	margin: 0 auto
}
.wImages_arrow {
	-webkit-animation: a 1s infinite;
	animation: a 1s infinite;
	left: 40%;
	position: absolute;
	top: 0;
	width: 33.55%;
}

